
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway&display=swap');
.wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(11,35,238);
  background: linear-gradient(70deg, rgba(11,35,238,1) 0%, rgba(246,52,12,1) 100%);
  color: white;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
h1 {
  text-align: right;
  margin: 2vh 3vw 10vh 20vw;
  font-family: 'Anton';
  font-size: 14vh;
  text-transform: uppercase;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  letter-spacing: 0.04em;
}
footer {
  flex: 0 0;
  min-height: 20vh;
  display: flex;
  align-items: center;
  padding: 2vh 3vw 2vh 3vw;
}
footer img {
  width: auto;
  height: 100%;
  border-radius: 50%;
  margin-right: 3vw;
}
h2 {
  margin: 0;
  font-family: 'Raleway';
  font-size: 9vh;
}
.name {
  flex: 1;
}