<div class="wrapper">
  <header>
    <h2>#100DaysOfCode Challenge</h2>
    <h2>Day {{ day }}</h2>
  </header>
  <main>
    <h1>{{ caption }}</h1>
  </main>
  <footer>
    <h2>
      @ph_bernard
    </h2>
    <img src="profil-pic.jpg" />
  </footer>
</div>
